/*default styings */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: inherit;
}
ol{
    display: inline;
}
ol li{
    display: inline-block;
    list-style-type: none;
}
ol li a{
    color: inherit;
}
ul{
    display: block;
}
ul li{
    padding: 5px;
    list-style-type: none;
}
img{
    width: 100%;
}
button{
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
}
input ,textarea{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
h1,h2,h3,h4,h5,h6,li,.menuBtn{
    cursor: pointer;
    text-transform: capitalize;
}
p{
    padding: 5px 0;
}
/* HEADER STYLINGS BEGINS*/
header{
    display: block;
    position: fixed;
    width: 100%;
    background-color:teal;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.logo{
    font-weight: 200;
    color: floralwhite;
    letter-spacing: 2px;
}
.header form {
    width: 40%;
}
.header form input{
    width: 100%;
}
.header .menuBtn{
    display: none;
}
.topNavBar li{
    padding:0 5px;
    text-align: center;
}
@media only screen and (max-width: 900px) {
    .topNavBar{
        display: none;
    } 
    .header .menuBtn{
        display: block;
    }
}
/* HEADER STYLINGS ENDS*/
/* aside styings begins */

aside{
    display: none;
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    z-index: 100;
    overflow-y: scroll;
}
.aside{
    padding: 10px;
}
.aside .menuBtn{
    text-align: right;
}
/* aside styings ends */
/* main styings begins */
main{
    margin-top: 100px;
    height: 100%;
}
section{
    padding: 10px 40px;
}
.section_title{
    padding: 10px 0;
    
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex div{
    width: 100%;
    margin: 10px;
}
.home{
    align-items: center;
    text-align: center;
}
.details{
    display: block;
    padding: 8px;
}
.post_card{
    box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}
.recent_post{
     padding: 0 15px 15px 15px;
     font-weight: 200;
     color: midnightblue;
}
@media only screen and (max-width: 700px) {
    section{
      padding: 10px;  
    }
    .flex{
        display: block;
    }
    .flex div{
        margin: 10px 0;
    }
    .details{
        display: none;
    }
}
/* main styings ends */
/* footer styings begins */
footer{
    margin-top: 100px;
    background-color: darkseagreen;
    color: white;
    font-weight: 200;    font-weight: 200;
}
footer h5{
    padding: 8px;
}
.copyright{
    background-color: #333;
    text-align: center;
    padding-top: 30px;
}
.contact_us input ,.contact_us textarea{
    width: auto;
    margin: 8px 0;
}
/* footer styings ends */