
//Background mixins
@mixin set-bg-color($bg-color,$text-color) {
    background-color: $bg-color;
    color: $text-color;
}

// Grid mixins
@mixin  grid-container ($grids) {
    display: grid;
    grid-template-columns: repeat($grids, 1fr);
    grid-template-rows: repeat(minmax(auto));
}

// Light box shadow
@mixin box-shadow {
    box-shadow:  4px 12px 20px rgba(0,0,0,0.1);
 }
 
// Media quries
@mixin respond ($breakpoint) {

    @if $breakpoint==laptop {
        @media only screen and (min-width: 769px) {
        @content;
        }
    }

    @if $breakpoint==tablet {
        @media only screen and (min-width: 540px) and (max-width: 768px) {
        @content;
        }
    }

    @if $breakpoint==mobile {
        @media only screen and (min-width: 280px) and (max-width: 539px) {
        @content;
        }
    }
}

// button mixin
@mixin btn($bg) {
    display: inline-block;
    margin: 5px;
    text-decoration:none;
    padding:8px 12px;
    font-size: small;
    border: none;
    border-radius:3px;
    color:white;
    background: $bg;
    cursor: pointer;
    transition: 0.2s;
    box-shadow:  4px 12px 20px rgba(0, 0, 0, 0.432);
    &:hover {
        border: 1px solid $bg;
        color: $bg;
        background-color: white;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }