//Main colors
$primary : #007bff;
$detail : #333;
$warning : #ffc107;
$danger : #dc3545;
$success : #28a745;

//bacckgrounds
.bg-primary{background: $primary;}
.bg-success{background:$success;}
.bg-warning{background: $warning;}
.bg-danger{background: $danger;}
.bg-detail{background: $detail;}
.bg-dark{background: black;}
.bg-light{background: white;}
.bg-purple{background-color: purple;}
.bg-orange{background-color: rgb(255, 145, 0);}
.bg-teal{background-color: teal;}

//text color
.text-white{color: white;}
.text-dark{color: black;}
.text-primary{color: $primary;}
.text-detail{color: $detail;}
.text-warning{color: $warning;}
.text-danger{color: $danger;}
.text-success{color: $success;}
