@import '../base/mixins';
@import '../base/colors';

// button containers
.btn-group {
    display: block;
    margin: 20px auto;
    padding: 10px 0;
    text-align:center;
  }
.btn-group-lt{
  @extend .btn-group;
  text-align: left;
  padding-left: 10px;
}
.btn-group-rt{
  @extend .btn-group;
  text-align: right;
  padding-right: 10px;
}
//buttons
button{
  font-size: medium;
  @include btn($detail);
  }
  
.btn-success{
  @include btn($success);
  }
  
.btn-primary {
    @include btn($primary);
  }
  
.btn-warning {
    @include btn($warning);
  }
  
.btn-danger {
    @include btn($danger);
  }
.btn-detail {
  @include btn($detail);
}

.btn-outline{
  @include btn(white);
  color: black;
  border: 1px solid black;
  &:hover{
    @include set-bg-color($primary,white);
    border: 1px solid black;
  }
}