@import '../base/mixins';
@import '../base/colors';

input,textarea,select{
    margin: 5px;
    width: 95%;
    padding:12px 10px;
    border: 1px solid rgba(179, 177, 177, 0.863);
    border-radius: 5px;
    font-size: medium;
}

label{
    display: block;
    margin: 5px;
    font-weight: bold;
}
.form-element{
    padding: 10px;
}