@import "../base/mixins";

@include respond(mobile){
    .d-none-xs{
        display:none;
    }
}

@include respond(tablet){
    .d-none-md{
        display:none;
    }
}

@include respond(laptop){
    .d-none-lg{
        display:none;
    }
}

