@import "mixins";
.card{
  margin: 10px;
  border-radius: 1em;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  .card__body {
    padding: 10px 20px;
  }
  h4 {
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px 0;
  }
  .card__footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: auto;
  }
  p{
    display: none;
  }
  &:hover{
    p{
      display: block;
    }
  }
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
  p{
    padding: 10px;
    display: none;
  }
  .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      transform: scale(1);
      transition: all 0.9s ease 0s;
    }
    &:before {
      content: "";
      width: 100%;
      height: 0;
      border-radius: 50%;
      background-color: #1369ce;
      position: absolute;
      bottom: 135%;
      right: 0;
      left: 0;
      opacity: 0.9;
      transform: scale(3);
      transition: all 0.3s linear 0s;
    }
  }
  &:hover{
    P{
      display: block;
    }
    .picture::before{
      height: 100%;
    }
    .picture::after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #1369ce;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .picture {
      img {
        box-shadow: 0 0 0 14px #f7f5ec;
        transform: scale(0.7);
      }
    }
    .social {
      bottom: 0;
    }
  }
  .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  .social {
    width: 100%;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 10px;
        font-size: 17px;
        color: white;
        transition: all 0.3s ease 0s;
        text-decoration: none;
        &:hover {
          @include set-bg-color(white,#1369ce);
        }        
      }
    }
  }
}

.accordion{
  input[type="radio"] {
    display: none;
 }
  label{
    display: block;
    padding: 10px;
    font-size: large;
    border-bottom: 1px solid black;
    color: white;
    background: #0076ff;
    z-index: 2; /* put it above the accordion content */
  }
  &:last-child{
    label, .accordion-content{
      border: none;
    }
  }
  .accordion-content {
    border-bottom: 1px solid black;
    padding: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    z-index: -1;
    transition: 0.3s linear;
 }
 input{
   &:checked~{
    .accordion-content {
      padding: 30px;
      opacity: 1;
      max-height: 500px;
      z-index: 1;
   }
   }
 }
}
