
$banner-heading : 44px;
@mixin banner{
    margin: auto;
    color: white;
    .banner-content{
        padding: 100px 0;
        align-items: center;
    }
    span{
      font-size: $banner-heading;
      display: block;
      text-transform: capitalize;
      font-weight: bold;
    }
    span.title{
        font-weight: normal;
        margin-bottom: 30px;
    }
}
.banner-welcome{
    @include banner;
    background-image: url('../images/edu.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(253, 0, 0);
    .btn-group{
        margin: 10px;
        text-align: right;
    }
}
.carousel{
    .carousel-item{
        margin: 5px;
        box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
        
    }
}
.about-card{
    .about-header,p{
        padding: 20px;
    }
    .about-body{
        .img{
            text-align: center;
            padding: 30px;
            img{
                width: 60%;
                border-radius: 10px;
            }
        }
        p{
            text-align: start;
            color:#333;
            font-weight: 200;
        }
    }
}