@import "mixins";
*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
ul li, ol li{
    list-style-type: none;
    cursor: pointer;
}
ol{
    display: inline;
    li{
        display: inline-block;
    }
}
section{
    padding: 50px 0;
    .section-title{
        font-size: 22px;
        font-weight: bold;
        color: midnightblue;
        padding: 20px 0;
    }
}
p{
    font-size: 18px;
}
.address{
    padding: 20px 0;
    font-weight: 200;
    address{
        padding: 10px 0;
    }
}
.content-title{
    padding: 15px 0;
    color: midnightblue;
}
#googleMap {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }