@import "mixins";
.form-container{
    margin: 20px;
    padding: 10px;
    .input-cnt {
        display: flex; /* display the icon and the input in a line */
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0px;
         }
         i {
            min-width: 54px; /* set a minimum width for the icon */
            padding: 10px; /* make sure the icon is centered vertically */
            text-align: center; /* horizontally center the icon */
            background: lightgrey;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            color: $bg-primary;
         }
        &:hover{
            i {
                background: goldenrod;
                color: white;
             }
        }
        input[type="text"],textarea{
            outline: none;
            border: 1px solid $bg-primary;
            padding: 10px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            width: 100%;
        }
        input[type="submit"] {
            border: 2px solid $bg-primary;
            border-radius: 20px;
            outline: none;
            width: 50%;
            margin: 0 auto;
            font-size: 105%;
            padding: 8px;
            color: $bg-primary;
            background: white;
            transition-duration: .5s;
            &:hover {
                color: white;
                background: goldenrod
             }
         }
     }
     .textarea-icon {
        padding: 60px 10px !important; /* top and bottom paddings are set to 60px */
     }
}