@mixin d-flex {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex{
    @include d-flex;
}
@mixin box-shadow {
   box-shadow: 0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}
@mixin round-corners {
    border-radius: 20px;
}

$bg-primary: rgb(1, 1, 17);
$text-white: white;
@mixin set-bg-color($bg-color,$text-color) {
    background-color: $bg-color;
    color: $text-color;
}
@mixin style($width) {
    border-radius: 30px;
    width: $width;
    height: 29px;
    background: $bg-primary;
}