@mixins mCq();
* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

ul li, ol li {
  list-style-type: none;
  cursor: pointer;
}

ol {
  display: inline;
}
ol li {
  display: inline-block;
}

section {
  padding: 50px 0;
}
section .section-title {
  font-size: 22px;
  font-weight: bold;
  color: midnightblue;
  padding: 20px 0;
}

p {
  font-size: 18px;
}

.address {
  padding: 20px 0;
  font-weight: 200;
}
.address address {
  padding: 10px 0;
}

.content-title {
  padding: 15px 0;
  color: midnightblue;
}

#googleMap {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

html, body, header, aside, main, footer, div, section, article {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 90%;
  padding: 25px 0;
}

.row {
  width: 100%;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

[class*=col-] {
  width: 100%;
  float: left;
}

@media only screen and (max-width: 800px) {
  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    width: 80%;
  }
}
@mixins mCq();
.card {
  margin: 10px;
  border-radius: 1em;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
.card .card__body {
  padding: 10px 20px;
}
.card h4 {
  font-size: 20px;
  text-transform: capitalize;
  padding: 5px 0;
}
.card .card__footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: auto;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.our-team p {
  padding: 10px;
  display: none;
}
.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}
.our-team .picture:before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover P {
  display: block;
}
.our-team:hover .picture::before {
  height: 100%;
}
.our-team:hover .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
.our-team:hover .social {
  bottom: 0;
}
.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}
.our-team .social {
  width: 100%;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.our-team .social li a:hover {
  background-color: white;
  color: #1369ce;
}

.accordion input[type=radio] {
  display: none;
}
.accordion label {
  display: block;
  padding: 10px;
  font-size: large;
  border-bottom: 1px solid black;
  color: white;
  background: #0076ff;
  z-index: 2;
  /* put it above the accordion content */
}
.accordion:last-child label, .accordion:last-child .accordion-content {
  border: none;
}
.accordion .accordion-content {
  border-bottom: 1px solid black;
  padding: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  transition: 0.3s linear;
}
.accordion input:checked ~ .accordion-content {
  padding: 30px;
  opacity: 1;
  max-height: 500px;
  z-index: 1;
}

.btn-group {
  margin-left: auto;
  padding: 10px 0;
  text-align: center;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
}

.btn-green {
  background: #2ecc71;
}
.btn-green:hover {
  background: #26ab5f;
  transition: all 0.3s ease;
}
.btn-green:active {
  background: #176437;
}

.btn-blue {
  background: #3498db;
}
.btn-blue:hover {
  background: #2383c4;
  transition: all 0.3s ease;
}
.btn-blue:active {
  background: #16527a;
}

.btn-yellow {
  background: #f1c40f;
}
.btn-yellow:hover {
  background: #cba50c;
  transition: all 0.3s ease;
}
.btn-yellow:active {
  background: #796307;
}

.btn-red {
  background: #e74c3c;
}
.btn-red:hover {
  background: #df2e1b;
  transition: all 0.3s ease;
}
.btn-red:active {
  background: #921e12;
}

.btn-menu {
  text-align: right;
}

button {
  outline: none;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 3px;
}

.social-media {
  padding: 20px 0;
}
.social-media ol {
  padding: 30px 0;
}
.social-media ol li {
  display: inline-block;
  padding: 0 3px;
}

.tag {
  padding: 4px;
  font-size: smaller;
  border-radius: 8px;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

form {
  margin: 0;
  width: 100%;
}
form input {
  outline: none;
  border: none;
  padding: 8px 10px;
  width: 99%;
}
form input::placeholder {
  padding-left: 10px;
}
form input::placeholder {
  padding-left: 10px;
}

@mixins mCq();
header {
  position: fixed;
  width: 100%;
  background-color: midnightblue;
  color: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 11px 8px rgba(0, 0, 0, 0.22);
  z-index: 100;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header nav .navbar-top {
  margin: auto;
}
header nav .navbar-top .nav-item {
  text-align: center;
  padding-left: 18px;
}
header nav .form {
  margin: auto;
  width: 40%;
  text-align: center;
}
header nav input {
  border-radius: 8px;
}
@media only screen and (max-width: 420px) {
  header .btn-group {
    display: none;
  }
}
@media only screen and (max-width: 999px) {
  header nav .navbar-top {
    display: none;
  }
  header .btn-group {
    margin: auto;
  }
}
@media only screen and (min-width: 999px) {
  header nav .btn-menu {
    display: none;
  }
}

aside {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: midnightblue;
  color: white;
}
aside .navbar {
  display: block;
  padding: 40px 0;
}
aside .navbar li {
  padding: 8px;
}
aside .navbar li .fa {
  display: none;
}

main {
  margin-top: 60px;
}
main .hero {
  padding: 100px 0;
  background-image: url("../images/king.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: floralwhite;
}
main .hero .title, main .hero p {
  display: block;
  text-transform: capitalize;
  font-size: 28px;
}
main .hero .title {
  font-weight: bold;
  margin-bottom: 30px;
}
main .hero .btn-group {
  text-align: right;
}

footer {
  background-color: midnightblue;
  color: white;
}
footer .navbar .navbar-item {
  display: block;
}
footer .navbar .navbar-item .fa {
  display: none;
}
footer .copyright {
  background-color: white;
  color: midnightblue;
  text-align: center;
}
footer .section-title {
  color: inherit;
}
footer .navbar .fa {
  display: none;
}

.footer-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .footer-body {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
