@import "mixins";
// button container
.btn-group {
    margin:0 auto;
    padding: 10px 0;
    text-align:center;
  }
.btn-group-lt{
  @extend .btn-group;
  text-align: left;
}
.btn-group-rt{
  @extend .btn-group;
  text-align: rightt;
}
//buttons
button{
    outline: none;
    border: none;
    font-size: 15px;
  }
  
.btn-success{
    @include button-bg($success);
  }
  
.btn-primary {
    @include button-bg($primary);
  }
  
.btn-warning {
    @include button-bg($warning);
  }
  
.btn-danger {
    @include button-bg($danger);
  }
.btn-detail {
  @include button-bg($detail);
}
.btn-outline{
  padding:8px 10px;
  border-radius:3px;
  border: 1px solid gray;
  color: black;
  &:hover{
    @include button-bg($detail);
  }
}