@import "mixin";
.tag{
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
.btn-group {
    margin:0 auto;
    padding: 10px 0;
    text-align:center;
  }
.btn{
    color:white;
    text-decoration:none;
    padding:8px 10px;
    border-radius:3px;
   }

.btn-green,.tag-green{
    @include button-bg(#2ecc71);
  }
  
.btn-blue,.tag-blue {
    @include button-bg(#3498db);
  }
  
.btn-yellow,.tag-yellow{
    @include button-bg(#f1c40f);
  }
  
.btn-red,.tag-red {
    @include button-bg(#e74c3c);
  }
.btn-danger,.tag-danger {
  @include button-bg($detail);
}
button{
    outline: none;
    border: none;
    color:white;
    padding:8px 20px;
    border-radius:5px;
    font-size: 18px;
  }
  