@import "mixins";
// carousel card
.carousel-item{
    margin: 10px auto;
    max-width: 500px;
    @include grid-container (2);
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    @include box-shadow;
    @include respond (mobile) {
        *{grid-column: 1/3;}
    }
    
}
//blogs container responsive
.blog-list{
    @include grid-container (4);
    grid-gap: 30px;
    align-items: center;
    .title{grid-column: 1/5}
    @include respond (mobile) {
        *{grid-column: 1/5;}
    }
}
//Blogs
.blog{
    @include box-shadow;
    border-radius: 10px;
    transform: scale(0.9,0.9);
    h3,p{padding: 10px 20px;}
    p{
        font-weight:300 ;
        color: $detail;
    }
    h3{color: $primary;}
    small{text-align: right;}
    img:hover{transform: scale(1.2,1.2); margin-bottom: 10px;}
}

//product on sale 
.product{
    text-align: center;
    transform: scale(0.8,0.8);
    img{@include box-shadow;}
    img:hover{transform: scale(1.2,1.2);}
    h3,p{
        padding: 10px 30px;
    }
    p{font-weight: 300;}
    .me{
        text-decoration-line: line-through;
        font-weight: 200;
        color: $detail;
    }
}
// Service items will be in bloglist
.service{
    text-align: center;
    @include box-shadow;
    padding: 20px 0;
    border-radius: 10px;
    transition: 1s;
    &:hover{
        transform: scale(1.2,1.2);
        .circle{
            @include set-bg-color(white, $primary);
            border-style: dashed;
        }
    }
    .circle{
        display: grid;
        align-content: center;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border: 8px inset $primary;
        border-radius: 50%;
        font-size: 1.5em;
    }
}
//Our Team
//Team
.team{
    text-align: center;
    img{
        width: 25%;
        border-radius: 50%;
    }
}
address{
    p{font-weight: 200;}
}

//about-preview
.about-preview{
    @include grid-container (12);
    grid-gap: 10px;
    border-radius: 5px;
    .body{
        grid-column: 1/5;
        align-self: center;
        img{
            width: 80%;
            border-radius: 20px;
        }
        li{padding: 10px 0;}
        li span{font-size: smaller;}
    }
    .details{
        grid-column: 5/13;
        h2{color: $primary;}
        p{font-weight: 200 ; font-size: 1.2em;}
    }
    @include respond (mobile) {
        .body,.details{grid-column: 1/13;}
    }
    @include respond (laptop) {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        box-shadow:  1px 3px 5px rgba(0,0,0,0.1);
    }
}
//skills
.skills-card{
    @include grid-container (2);
    align-items: center;
    grid-gap: 10px;
    margin: 10px 0;
    transform: scale(0.9, 0.9);
    .grid-title{
        grid-column: 1/13;
        color: rgb(7, 6, 49);
    }
    .front{
        grid-column: 1/2;
        @include grid-container (12);
        text-align: right;
        border-right: 5px solid $primary;
        ul{grid-column: 1/13;}
    }
    .back{
        grid-column: 2/3;
        border-left: 5px solid $primary;
    }
    li,.grid-title{
        padding: 6px;
        transition: 1s;
        &:hover{
            font-size: 120%;
            font-weight: bold;
        }
    }
}
//works container responsive
.works{
    @include grid-container (2);
    grid-gap: 30px;
    align-items: center;
    .title{grid-column: 1/5}
    @include respond (mobile) {
        *{grid-column: 1/3;}
    }
}
//work
.work{
    margin: 10px 0;
    padding: 10px 0;
    @include box-shadow;
    @include set-bg-color(rgba(231, 225, 225, 0.863),$primary);
    ul{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        li{
            margin: 5px;
            padding: 6px;
            @include set-bg-color($detail,white);
            border-radius: 5px;
        }
    }
}
// margin: 5px;
//             padding: 6px;
//            