@import "mixins";

//header
header{
    position: fixed;
    @include set-bg-color(white,$primary);
    @include box-shadow;
    z-index: 100;
    .btn-menu{display: none;}
    nav{display: block}
    .nav-bars{
        @include grid-container (7);
        justify-items: flex-end;
        align-items: center;
    } 
    //mobile begins here
    @include respond (mobile) {
        .btn-menu{display: block; float: right;}
        nav{display: none;}
        .nav-bars{
            display: block;
            height: 100vh;
            .nav-item, .nav-down{padding: 20px; cursor: pointer;}
        }
    }
}

