@import "mixin";
//main

//hero
.hero-banner{
    @include grid-container (6);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    height: 100vh;
    h3,p{margin-top: 8px;}
    img{
        width: 25%;
        border-radius: 50%;
    }
    h3{color: $primary;}
    p{color: $detail;}
    .hero-body{
        grid-column: 1/7;
        grid-row: 2;
        text-align: center;
    }

}
#work{
    @include set-bg-color(rgba(10, 80, 209, 0.02), black);
    .row-content{
        @include grid-container (3);
        grid-gap: 10px;
        @include respond (mobile) {
            @include grid-container (1);
        }
    }
}
footer{
    @include set-bg-color(rgba(11, 97, 255, 0.815),#fff);
    .copyright{
        text-align: center;
        padding: 20px;
        font-weight: bold;
        @include set-bg-color(rgb(236, 230, 230),$primary)
    }
}