@import "mixins";
main{
    margin-top: 40px;
}
//hero
#hero{
    @include set-bg-color($primary,white);
    text-align: center;
    p{font-size: 2em;}
    .row{ height: 80vh; }
}
//breadcrumbs
.breadcrumbs{
    display: flex;
    padding: 10px;
    font-size: 90%;
    font-weight: 200;
    @include set-bg-color(#e9ecef,#6c757d);
    li{padding: 0 5px;}
}
//footer
footer{
    @include set-bg-color($primary,white);
    p{
        font-size: 1.2em;
        font-weight: 300;
    }
    //font-size: 2em;
    .copyright{
        @include set-bg-color(rgb(255, 255, 255),rgb(0, 0, 0));
        padding: 10px;
        text-align: center;
    }    
}