//Main colors
$primary : #007bff;
$detail : #6c757d;
$warning : #ffc107;
$danger : #dc3545;
$success : #28a745;

//Background mixins
@mixin set-bg-color($bg-color,$text-color) {
    background-color: $bg-color;
    color: $text-color;
}

// Grid mixins
@mixin  grid-container ($grids) {
    display: grid;
    grid-template-columns: repeat($grids, 1fr);
    grid-template-rows: repeat(minmax(auto));
}

// Light box shadow
@mixin box-shadow {
    box-shadow:  1px 3px 5px rgba(0,0,0,0.1);
 }
 
// Media quries
@mixin respond ($breakpoint) {

    @if $breakpoint==laptop {
        @media only screen and (min-width: 768px) {
        @content;
        }
    }

    @if $breakpoint==mobile {
        @media only screen and (max-width: 767px) {
        @content;
        }
    }
}

// button mixin
@mixin button-bg($bg) {
    color:white;
    text-decoration:none;
    padding:8px 10px;
    border-radius:3px;
    background: $bg;
    @include box-shadow;
    &:hover {
        border: 1px solid $bg;
        color: $bg;
        background-color: white;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }