$primary : rgba(15, 79, 199, 0.897);
$detail : lighten(rgb(71, 69, 69),8%);
@mixin set-bg-color($bg-color,$text-color) {
    background-color: $bg-color;
    color: $text-color;
}
@mixin  light-theme {
    @include set-bg-color(#fff,$primary);
}
@mixin dark-theme {
    @include set-bg-color(rgba(10, 80, 209, 0.897),#fff);
}
@mixin  grid-container ($grids) {
    display: grid;
    grid-template-columns: repeat($grids, 1fr);
    grid-template-rows: repeat(minmax(auto));
}
@mixin box-shadow {
    box-shadow: 0 5px 15px rgb(195, 192, 192);
 }

@mixin respond ($breakpoint) {

    @if $breakpoint==laptop {
        @media only screen and (min-width: 768px) {
        @content;
        }
    }

    @if $breakpoint==mobile {
        @media only screen and (max-width: 767px) {
        @content;
        }
    }
}

// button mixin
@mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }