@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Asap&family=Cedarville+Cursive&family=Open+Sans:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  background-color: rgba(0, 0, 255, 0.062);
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

ul li {
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 10px;
}

p {
  padding: 5px 10px;
  font-size: 1.2em;
}

header, section, .container, nav, div {
  width: 100%;
  box-sizing: border-box;
}

address {
  padding: 5px 12px;
  font-size: 1.2em;
}

.reveal {
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-in {
  animation: fade-in 2s;
}

@keyframes fade-in {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.bg-primary {
  background: #007bff;
}

.bg-success {
  background: #28a745;
}

.bg-warning {
  background: #ffc107;
}

.bg-danger {
  background: #dc3545;
}

.bg-detail {
  background: #333;
}

.bg-dark {
  background: black;
}

.bg-light {
  background: white;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.bg-teal {
  background-color: teal;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.text-primary {
  color: #007bff;
}

.text-detail {
  color: #333;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

.bg-primary {
  background: #007bff;
}

.bg-success {
  background: #28a745;
}

.bg-warning {
  background: #ffc107;
}

.bg-danger {
  background: #dc3545;
}

.bg-detail {
  background: #333;
}

.bg-dark {
  background: black;
}

.bg-light {
  background: white;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.bg-teal {
  background-color: teal;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.text-primary {
  color: #007bff;
}

.text-detail {
  color: #333;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

section {
  padding: 40px 0;
}
section .section-title {
  margin: 30px auto;
  width: max-content;
  border-bottom: 5px solid inherit;
}
section:hover .section-title {
  border-bottom: 5px solid #ffc107;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 5px 10px;
}

.row-content {
  margin: 40px 0;
  padding: 40px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .col-1 {
  width: 8.33333333%;
}
.row .col-2 {
  width: 16.66666667%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.33333333%;
}
.row .col-5 {
  width: 41.66666667%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.33333333%;
}
.row .col-8 {
  width: 66.66666667%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.33333333%;
}
.row .col-11 {
  width: 91.66666667%;
}
.row .col-12 {
  width: 100%;
}
@media only screen and (min-width: 280px) and (max-width: 539px) {
  .row .col-xs-1 {
    width: 8.33333333%;
  }
  .row .col-xs-2 {
    width: 16.66666667%;
  }
  .row .col-xs-3 {
    width: 25%;
  }
  .row .col-xs-4 {
    width: 33.33333333%;
  }
  .row .col-xs-5 {
    width: 41.66666667%;
  }
  .row .col-xs-6 {
    width: 50%;
  }
  .row .col-xs-7 {
    width: 58.33333333%;
  }
  .row .col-xs-8 {
    width: 66.66666667%;
  }
  .row .col-xs-9 {
    width: 75%;
  }
  .row .col-xs-10 {
    width: 83.33333333%;
  }
  .row .col-xs-11 {
    width: 91.66666667%;
  }
  .row .col-xs-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 540px) and (max-width: 768px) {
  .row .col-md-1 {
    width: 8.33333333%;
  }
  .row .col-md-2 {
    width: 16.66666667%;
  }
  .row .col-md-3 {
    width: 25%;
  }
  .row .col-md-4 {
    width: 33.33333333%;
  }
  .row .col-md-5 {
    width: 41.66666667%;
  }
  .row .col-md-6 {
    width: 50%;
  }
  .row .col-md-7 {
    width: 58.33333333%;
  }
  .row .col-md-8 {
    width: 66.66666667%;
  }
  .row .col-md-9 {
    width: 75%;
  }
  .row .col-md-10 {
    width: 83.33333333%;
  }
  .row .col-md-11 {
    width: 91.66666667%;
  }
  .row .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .row .col-lg-1 {
    width: 8.33333333%;
  }
  .row .col-lg-2 {
    width: 16.66666667%;
  }
  .row .col-lg-3 {
    width: 25%;
  }
  .row .col-lg-4 {
    width: 33.33333333%;
  }
  .row .col-lg-5 {
    width: 41.66666667%;
  }
  .row .col-lg-6 {
    width: 50%;
  }
  .row .col-lg-7 {
    width: 58.33333333%;
  }
  .row .col-lg-8 {
    width: 66.66666667%;
  }
  .row .col-lg-9 {
    width: 75%;
  }
  .row .col-lg-10 {
    width: 83.33333333%;
  }
  .row .col-lg-11 {
    width: 91.66666667%;
  }
  .row .col-lg-12 {
    width: 100%;
  }
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media only screen and (min-width: 280px) and (max-width: 539px) {
  .d-none-xs {
    display: none;
  }
}
@media only screen and (min-width: 540px) and (max-width: 768px) {
  .d-none-md {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .d-none-lg {
    display: none;
  }
}
.bg-primary {
  background: #007bff;
}

.bg-success {
  background: #28a745;
}

.bg-warning {
  background: #ffc107;
}

.bg-danger {
  background: #dc3545;
}

.bg-detail {
  background: #333;
}

.bg-dark {
  background: black;
}

.bg-light {
  background: white;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.bg-teal {
  background-color: teal;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.text-primary {
  color: #007bff;
}

.text-detail {
  color: #333;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

header {
  position: fixed;
  z-index: 100;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}
header .logo {
  font-size: 1.5em;
  width: max-content;
}
header img {
  display: block;
  width: 50px;
}
header .active {
  color: #007bff;
}
@media only screen and (min-width: 280px) and (max-width: 539px) {
  header nav {
    display: none;
    margin-top: 10px;
    height: 90vh;
  }
}

.btn-menu {
  position: relative;
  top: 2px;
  transform: scale(1.5, 1);
}

.nav-bars {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(minmax(auto));
  justify-items: space-between;
  align-items: center;
}
.nav-bars li {
  margin: 8px 0;
  justify-self: center;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
@media only screen and (min-width: 280px) and (max-width: 539px) {
  .nav-bars {
    display: block;
    text-align: center;
  }
  .nav-bars li {
    padding: 20px;
    border-bottom: 1px solid #333;
  }
}

.drop-down {
  position: relative;
}
.drop-down .drop-item {
  background-color: white;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -300px;
  left: -20px;
  width: 200px;
  text-align: left;
  opacity: 0;
  transition: 0.5s;
}
.drop-down:hover .drop-item {
  opacity: 1;
  top: 25px;
}
@media only screen and (min-width: 280px) and (max-width: 539px) {
  .drop-down .drop-item {
    position: static;
  }
}

.bg-primary {
  background: #007bff;
}

.bg-success {
  background: #28a745;
}

.bg-warning {
  background: #ffc107;
}

.bg-danger {
  background: #dc3545;
}

.bg-detail {
  background: #333;
}

.bg-dark {
  background: black;
}

.bg-light {
  background: white;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.bg-teal {
  background-color: teal;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.text-primary {
  color: #007bff;
}

.text-detail {
  color: #333;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

main {
  margin-top: 20px;
  background-color: #222;
  color: white;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: #111;
}
.hero p {
  font-size: 2em;
}
.hero .title {
  font-size: 3em;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(128, 128, 128, 0.63);
  z-index: 1000;
}
.modal .modal-body {
  margin: 0 auto;
  max-width: 540px;
  padding: 5px 10px;
  background-color: white;
}
.modal .modalBtn {
  margin: 20px;
  cursor: pointer;
}

footer {
  padding: 20px 0;
  background-color: #000;
  color: white;
}
footer .nav-bars {
  margin: 0 auto;
  max-width: 800px;
}

.bg-primary {
  background: #007bff;
}

.bg-success {
  background: #28a745;
}

.bg-warning {
  background: #ffc107;
}

.bg-danger {
  background: #dc3545;
}

.bg-detail {
  background: #333;
}

.bg-dark {
  background: black;
}

.bg-light {
  background: white;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.bg-teal {
  background-color: teal;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.text-primary {
  color: #007bff;
}

.text-detail {
  color: #333;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

.tag, .tag-white, .tag-detail, .tag-danger, .tag-success, .tag-warning, .tag-primary {
  display: inline-block;
  padding: 6px;
  transform: scale(0.8, 0.8);
  font-weight: 200;
  border-radius: 8px;
}

.tag-primary {
  background-color: #007bff;
  color: white;
}

.tag-warning {
  background-color: #ffc107;
  color: white;
}

.tag-success {
  background-color: #28a745;
  color: white;
}

.tag-danger {
  background-color: #dc3545;
  color: white;
}

.tag-detail {
  background-color: #333;
  color: white;
}

.tag-white {
  background-color: white;
  color: black;
  border: 1px inset black;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media li {
  margin: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}
.social-media li:hover {
  background-color: white;
  color: #333;
}

.breadcrumb {
  margin: 20px 0;
  width: 100%;
  border-bottom: 1px solid #007bff;
}
.breadcrumb li {
  display: inline-block;
  padding: 10px;
  color: #333;
}

.date {
  display: block;
  padding: 10px;
  font-size: smaller;
}

.bg-primary {
  background: #007bff;
}

.bg-success {
  background: #28a745;
}

.bg-warning {
  background: #ffc107;
}

.bg-danger {
  background: #dc3545;
}

.bg-detail {
  background: #333;
}

.bg-dark {
  background: black;
}

.bg-light {
  background: white;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.bg-teal {
  background-color: teal;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.text-primary {
  color: #007bff;
}

.text-detail {
  color: #333;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

.card {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}

.img {
  width: 80%;
  margin: 0 auto;
}

.img-dp {
  width: 120px;
  margin-left: 10px;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(minmax(auto));
  grid-gap: 15px;
}
@media only screen and (min-width: 540px) and (max-width: 768px) {
  .blog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(minmax(auto));
  }
}
@media only screen and (min-width: 280px) and (max-width: 539px) {
  .blog-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(minmax(auto));
  }
}

.blog {
  position: relative;
  border-radius: 10px;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
  height: max-content;
}
.blog img {
  border-radius: 10px 10px 0 0;
}
.blog .body {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  color: white;
  transition: 0.8s;
  transform: scale(0, 0);
}
.blog:hover {
  box-shadow: 3px 9px 15px rgba(0, 0, 0, 0.452);
}
.blog:hover .body {
  opacity: 1;
  transform: scale(0.9, 0.9);
  background: rgba(0, 0, 0, 0.541);
}

.our-team {
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  transform: scale(0.9, 0.9);
  transition: 0.5s;
}
.our-team img {
  width: 60%;
}
.our-team:hover {
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #007bff;
  transform: scale(1, 1);
}

.service {
  text-align: center;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}
.service h3 {
  text-transform: uppercase;
}
.service:hover .circle {
  background-color: rgb(0, 128, 128);
  border-color: teal;
  color: black;
}
.service .circle {
  display: grid;
  align-content: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 5px inset teal;
  border-radius: 50%;
  font-size: 1.5em;
  color: #ffc107;
  transition: 1s;
}

.skills-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(minmax(auto));
  align-items: center;
  grid-gap: 10px;
  margin: 10px 0;
  transform: scale(0.9, 0.9);
  color: cornsilk;
}
.skills-card .grid-title {
  grid-column: 1/13;
}
.skills-card .front {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(minmax(auto));
  text-align: right;
  border-right: 1px solid #28a745;
}
.skills-card .front ul {
  grid-column: 1/13;
}
.skills-card .back {
  grid-column: 2/3;
  border-left: 1px solid #ffc107;
}

.work {
  width: 98%;
  margin: 10px auto;
  padding: 10px 0;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.work ul {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.work ul li {
  margin: 5px;
  padding: 6px;
  font-size: 2em;
  color: goldenrod;
}

.product {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  transform: scale(0.8, 0.8);
}
.product .me {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  grid-column: 1/5;
  padding: 10px 30px;
  text-decoration-line: line-through;
  font-weight: 200;
  color: #6c757d;
}

.video-preview {
  position: relative;
  border-radius: 10px;
}
.video-preview .play {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: -100px;
  opacity: 0;
  transition: 1s;
}
.video-preview:hover {
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}
.video-preview:hover .play {
  opacity: 1;
  top: -20px;
  font-size: 2em;
  color: red;
}

.ttt {
  border: 1px solid white;
  text-align: center;
  padding: 20px;
  color: white;
}

.tt {
  border: 1px solid black;
  text-align: center;
  padding: 50px 0;
  color: white;
}

.bg-primary {
  background: #007bff;
}

.bg-success {
  background: #28a745;
}

.bg-warning {
  background: #ffc107;
}

.bg-danger {
  background: #dc3545;
}

.bg-detail {
  background: #333;
}

.bg-dark {
  background: black;
}

.bg-light {
  background: white;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.bg-teal {
  background-color: teal;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.text-primary {
  color: #007bff;
}

.text-detail {
  color: #333;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

input, input[type=search], textarea, select {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  border: 1px solid rgba(179, 177, 177, 0.863);
  border-radius: 5px;
}

input[type=search] {
  width: 100%;
}

form .form-element {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(minmax(auto));
  grid-gap: 5px;
  font-size: 14px;
  margin: 10px 0;
}
form label {
  grid-column: 1/13;
  align-self: flex-start;
  padding: 10px;
  font-weight: bolder;
}
form input, form input[type=search], form textarea {
  grid-column: 1/13;
}

.form, .contact-form, .login {
  margin: 0 auto;
  max-width: 500px;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}

.register-form {
  border: 1px solid #007bff;
}
.register-form input, .register-form select {
  margin-left: 0;
  width: auto;
}
.register-form .form-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.register-form .form-element label {
  width: 60px;
}

.bg-primary {
  background: #007bff;
}

.bg-success {
  background: #28a745;
}

.bg-warning {
  background: #ffc107;
}

.bg-danger {
  background: #dc3545;
}

.bg-detail {
  background: #333;
}

.bg-dark {
  background: black;
}

.bg-light {
  background: white;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.bg-teal {
  background-color: teal;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.text-primary {
  color: #007bff;
}

.text-detail {
  color: #333;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

.btn-group, .btn-group-rt, .btn-group-lt {
  display: block;
  margin: 40px auto;
  padding: 10px 0;
  text-align: center;
}

.btn-group-lt {
  text-align: left;
  padding-left: 10px;
}

.btn-group-rt {
  text-align: right;
  padding-right: 10px;
}

button {
  font-size: medium;
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  color: white;
  background: #333;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}
button:hover {
  border: 1px solid #333;
  color: #333;
  background-color: white;
}
button:active {
  background: black;
}

.btn-success {
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  color: white;
  background: #28a745;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}
.btn-success:hover {
  border: 1px solid #28a745;
  color: #28a745;
  background-color: white;
}
.btn-success:active {
  background: #0f401b;
}

.btn-primary {
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  color: white;
  background: #007bff;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}
.btn-primary:hover {
  border: 1px solid #007bff;
  color: #007bff;
  background-color: white;
}
.btn-primary:active {
  background: #003e80;
}

.btn-warning {
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  color: white;
  background: #ffc107;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}
.btn-warning:hover {
  border: 1px solid #ffc107;
  color: #ffc107;
  background-color: white;
}
.btn-warning:active {
  background: #876500;
}

.btn-danger {
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  color: white;
  background: #dc3545;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}
.btn-danger:hover {
  border: 1px solid #dc3545;
  color: #dc3545;
  background-color: white;
}
.btn-danger:active {
  background: #7c151f;
}

.btn-detail {
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  color: white;
  background: #333;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
}
.btn-detail:hover {
  border: 1px solid #333;
  color: #333;
  background-color: white;
}
.btn-detail:active {
  background: black;
}

.btn-outline {
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  color: white;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.1);
  color: black;
  border: 1px solid black;
}
.btn-outline:hover {
  border: 1px solid white;
  color: white;
  background-color: white;
}
.btn-outline:active {
  background: #bfbfbf;
}
.btn-outline:hover {
  background-color: #007bff;
  color: white;
  border: 1px solid black;
}

/*# sourceMappingURL=styles.css.map */
