@import '../base/mixins';
@import '../base/colors';

.tag{
    display: inline-block;
    padding: 6px;
    transform: scale(0.8,0.8);
    font-weight: 200;
    border-radius: 8px;
}
.tag-primary{
    @extend .tag;
    @include set-bg-color($primary,white);
}
.tag-warning{
    @extend .tag;
    @include set-bg-color($warning,white);
}
.tag-success{
    @extend .tag;
    @include set-bg-color($success,white);
}
.tag-danger{
    @extend .tag;
    @include set-bg-color($danger,white);
}
.tag-detail{
    @extend .tag;
    @include set-bg-color($detail,white);
}
.tag-white{
    @extend .tag;
    @include set-bg-color(white,black);
    border: 1px inset black;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        margin: 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border: 1px solid white;
        border-radius: 50%;
        &:hover{
            @include set-bg-color(white, $detail);
        }
    }
}

.breadcrumb{
    margin: 20px 0;
    width: 100%;
    border-bottom: 1px solid $primary;
    li{
        display: inline-block;
        padding: 10px;
        color: $detail;
    }
}

.date{
    display: block;
    padding: 10px;
    font-size: smaller;
}